<div class="container">
    <mat-card>
        <form [formGroup]="editUserForm" (ngSubmit)="onSave()">
            <mat-form-field>
                <input matInput placeholder="FirstName" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="LastName" formControlName="lastName" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nickname" formControlName="nickName" required>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Position" formControlName="job" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let job of jobs" [value]="job">
                    {{ job }}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-radio-group formControlName="gender">
                <p>Select gender</p>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>

            <button mat-button color="accent">Save</button>
        </form>
    </mat-card>
</div>